// $color-primary: #e3e7f1;
// $color-secondary: #013966;
// $color-tertiary: #024C88;
 $color-white: #fff;
 $color-black: #000;

$color-primary: #eeeeee; // text
$color-secondary: #23374d; // bck
$color-tertiary: #1a3e59; // navbar / footer
$color-quaternary: #030624; // loading background