$color-white: #fff;
$color-black: #000;

$color-primary: #eeeeee; // text
// $color-yellow: #bd5796; // It's not actually yellow :D
// $color-yellow: #ba52ed;
$color-yellow: #f0d78c;
// $color-secondary: #23374d; // bck
// $color-tertiary: #1a3e59; // navbar / footer
// $color-tertiary: #00ACEC;
$color-tertiary: #1089ff;
$color-secondary: #0066B1;
$color-quaternary: #030624; // loading background