.contact {
    padding: 5rem 0;
    padding-bottom: 15rem;
    display: flex;
    flex-direction: row;

    @include respond(phone) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__left {
        margin-right: 2rem;
        width: 50%;

        @include respond(phone) {
            margin: 0;
            width: 100%;
            padding: 0 5rem;
        }
    }

    // LEFT

    &__title {
        font-weight: 400;
        text-align: left;
        margin-bottom: 4rem;

        @include respond(phone) {
            text-align: center;
        }
    }

    &__desc {
        font-size: 1.75rem;
        color: $color-white;
        width: 80%;

        @include respond(phone) {
            width: 100%;
            text-align: center;
            font-size: 2rem;
            padding: 0 2rem;
        }
    }

    &__location {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10rem;

        @include respond(phone) {
            flex-direction: column;
        }

        i {
            color: $color-primary;
            font-size: 4rem;
            width: 5vw;
        }

        p {
            font-size: 1.5rem;
            color: $color-white;

            @include respond(phone) {
                text-align: center;
                width: 100%;
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }

    &__phone {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5rem;

        @include respond(phone) {
            flex-direction: column;
        }

        i {
            color: $color-primary;
            font-size: 4rem;
            width: 5vw;

            @include respond(phone) {
                text-align: center;
                width: 100%;
            }
        }

        p {
            font-size: 1.5rem;
            color: $color-white;

            @include respond(phone) {
                text-align: center;
                width: 100%;
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }

    &__email {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5rem;

        @include respond(phone) {
            flex-direction: column;
        }

        i {
            color: $color-primary;
            font-size: 4rem;
            width: 5vw;

            @include respond(phone) {
                text-align: center;
                width: 100%;
            }
        }

        p {
            font-size: 1.5rem;
            color: $color-white;

            @include respond(phone) {
                text-align: center;
                width: 100%;
                margin-top: 2rem;
                font-size: 2rem;
            }
        }
    }

    &__right {
        padding-top: 5rem;
        width: 50%;

        @include respond(phone) {
            width: 100%;
            padding: 0 2rem;
            margin-top: 4rem;
        }
    }

    // RIGHT

    &__name__input {
        border: 0;
        outline: 0;
        color: $color-white;
        background-color: $color-tertiary;
        padding: 2rem 2rem;
        font-size: 1.5rem;
        width: 90%;
        border-radius: 5rem;

        @include respond(phone) {
            width: 100%;
        }

        &:focus,
        &:hover {
            background-color: lighten($color-tertiary, 5%);
            // box-shadow: 0 .3rem 3rem lighten($color-tertiary, 5%);
        }
    }

    &__input__group {
        display: flex;
        flex-direction: row;
        margin-top: 4rem;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__email__input {
        border: 0;
        outline: 0;
        color: $color-white;
        background-color: $color-tertiary;
        padding: 2rem 2rem;
        font-size: 1.5rem;
        width: 40%;
        border-radius: 5rem;
        margin-right: 4rem;
        

        @include respond(phone) {
            width: 100%;
        }

        &:focus,
        &:hover {
            background-color: lighten($color-tertiary, 5%);
            // box-shadow: 0 .3rem 3rem lighten($color-tertiary, 5%);
        }
    }

    &__phone__input {
        border: 0;
        outline: 0;
        color: $color-white;
        background-color: $color-tertiary;
        padding: 2rem 2rem;
        font-size: 1.5rem;
        width: 40%;
        border-radius: 5rem;


        @include respond(phone) {
            width: 100%;
            margin-top: 4rem;
        }

        &:focus,
        &:hover {
            background-color: lighten($color-tertiary, 5%);
            // box-shadow: 0 .3rem 3rem lighten($color-tertiary, 5%);
        }
    }

    &__msg__input {
        border: 0;
        outline: 0;
        color: $color-white;
        background-color: $color-tertiary;
        padding: 2rem 4rem;
        font-size: 2rem;
        width: 90%;
        border-radius: 3rem;
        margin-top: 4rem;
        resize: none;

        @include respond(phone) {
            width: 100%;
        }

        &:focus,
        &:hover {
            background-color: lighten($color-tertiary, 5%);
            // box-shadow: 0 .3rem 3rem lighten($color-tertiary, 5%);
        }
    }

    &__submit {
        display: block;
        border: 0;
        width: 90%;
        color: $color-white;
        background-color: $color-tertiary;
        font-size: 2rem;
        border-radius: 5rem;
        padding: 2rem 0;
        margin-top: 4rem;
        box-shadow: 0 .3rem .6rem rgba($color-black, .15);

        @include respond(phone) {
            width: 100%;
        }

        &:hover {
            cursor: pointer;
            background-color: lighten($color-tertiary, 5%);
            // box-shadow: 0 .3rem .6rem lighten($color-tertiary, 1%);
        }

    }

}