.projects {
    padding: 10rem 0;

    &__categories {
        border-bottom: 1px solid $color-primary;
        margin: 5rem 0;
        padding-bottom: 2rem;
    }

    &__categories__item {
        display: inline-block;
        text-decoration: none;
        font-size: 2.5rem;
        color: $color-primary;
        margin-right: 10rem;
        font-weight: bold;

        &:hover {
            text-shadow: $color-primary 0 .3rem 3rem;
        }
    }

    &__container {
        width: 0;
        opacity: 0;
        
        // animation: projects cubic-bezier(.51, .21, .69, 1.5) 1s forwards;
        display: grid;
        grid-column-gap: 15rem;
        grid-row-gap: 10rem;
        grid-template-columns: auto auto auto;
        z-index: -1;
    }

    &__container__item {
        width: 100%;
        height: 25rem;
        background-color: $color-white;
        border-radius: 1rem;
        z-index: 1;
    }
}