.skills {
    background-color: $color-secondary;
    display: flex;
    flex-direction: row;
    padding: 10rem 0;

    @include respond(phone) {
        flex-direction: column;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        &:not(:last-child) {
            margin-right: 5rem;

            @include respond(phone) {
                margin: 2rem 0;
            }
        }
    }

    &__icon {
        color: $color-primary;
        font-size: 3rem;
        margin-bottom: 5rem;

        @include respond(phone) {
            display: block;
            width: 100vw;
            text-align: center;
            margin-top: 5rem;
        }
    }

    &__title {
        color: $color-white;
        font-size: 2.5rem;
        height: 9vh;
        text-align: center;

        @include respond(phone) {
            width: 100vw;
        }
    }

    &__desc {
        color: $color-white;
        text-align: center;
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 2rem;

        @include respond(phone) {
            font-size: 2rem;
            width: 100vw;
            padding: 0 10rem;
            text-align: justify;
        }
    }
}