// Animation to animate menu inside of navbar

@keyframes menu {
    from {
        right: -70rem;

    }

    to {
        right: 0;
    }
}

@keyframes menuRemove {
    from {
        right: 0;
    }

    to {
        right: -70;
    }
}

// Animation to animate logo inside of navbar

@keyframes logo {
    from {
        left: -70rem;
    }

    to {
        left: 0;

    }
}


// Animation to animate icons inside of skills 

@keyframes brush {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

// Animation to animate project cards inside of projects section 

@keyframes projects {
    from {
        opacity: 0;
        width: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}

// Animation to animate loading image 

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// This is to animate removal (fading out) of loading

@keyframes loadingRemove {
    from {
        clip-path: circle(0.4% at 50% 50%);
        opacity: 1;
        display: block;
    }

    to {
        clip-path: circle(50.0% at 50% 50%);
        opacity: 0;
        display: none;
    }
}


// Same as loading, animation to make header fade in 

@keyframes headerShow {
    from {
        opacity: 0;
        z-index: 0;
    }

    to {
        opacity: 1;
        z-index: 1000;
    }
}

// When loading is on I disabled page scrolling, so when loading is finished I need to enable it again 

@keyframes documentOverflow {
    from {
        overflow-y: hidden;
    }

    to {
        overflow-y: scroll;
    }
}