.heading-primary {
    color: $color-primary;
    text-align: center;
    font-size: 7rem;
    padding: 2rem 0;

    &:hover {
        text-shadow: $color-primary 0 .3rem 3rem;
        cursor: pointer;
    }
}

.heading-secondary {
    color: $color-white;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    font-weight: 300;
}